<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../style/public.css" />
		<link rel="stylesheet" type="text/css" href="../style/login.css" />
	</head>
	<body>
			<div id=head>
			<div class="head-l">
				<span class="logochar"></span>
				<a href="login.html">登录</a>
				<span>|</span>
				<a href="register.html">注册</a>
				<span>|</span>
				<span class="shopcar"></span>
				<span class="shopcar-index">(0)</span>
			</div>
			<div class="head-r">
				<span>消息</span>
				<span>|</span>
				<span>我的李宁</span>
				<span>|</span>
				<span>会员俱乐部</span>
			</div>
		</div>
		<div id="nav">
			<ul class="nav-l">
				<li class="ln">
					<div class="logo">
					</div>
				</li>
				<li>
					<a href="">所有分类<span class="xj"></span></a>
					<div class="nav-contentbox">
						<div class="nav-content1">
							<ul>
								<span></span>
								<li>男鞋</li>
								<li>跑步鞋</li>
								<li>篮球鞋</li>
								<li>运动时尚鞋</li>
								<li>训练鞋</li>
								<li>羽毛球鞋</li>
								<li>户外鞋</li>
								<li>凉鞋/拖鞋</li>
							</ul>
							<ul>
								<span></span>
								<li>女鞋</li>
								<li>跑步鞋</li>
								<li>篮球鞋</li>
								<li>运动时尚鞋</li>
								<li>训练鞋</li>
								<li>羽毛球鞋</li>
								<li>户外鞋</li>
								<li>凉鞋/拖鞋</li>
							</ul>
							<ul>
								<span></span>
								<li>男装</li>
								<li>T恤/Polo衫/背心</li>
								<li>卫衣</li>
								<li>外套/马甲</li>
								<li>羽绒服</li>
								<li>棉服</li>
								<li>比赛服</li>
								<li>紧身服</li>
								<li>裤装</li>
								<li>运动内裤</li>
								<li>泳裤</li>
								<li>其他服装</li>
							</ul>
							<ul>
								<span></span>
								<li>女装</li>
								<li>T恤/Polo衫/背心</li>
								<li>卫衣</li>
								<li>外套/马甲</li>
								<li>羽绒服</li>
								<li>棉服</li>
								<li>比赛服</li>
								<li>紧身服</li>
								<li>裤装</li>
								<li>运动内裤</li>
								<li>泳裤</li>
								<li>其他服装</li>
							</ul>
							<ul>
								<span></span>
								<li>配件/装备</li>
								<li>袜子</li>
								<li>包</li>
								<li>帽子</li>
								<li>羽毛球拍</li>
								<li>羽毛球配件</li>
								<li>乒乓球装备</li>
								<li>球类</li>
							</ul>
							<ul>
								<span></span>
								<li>器材</li>
								<li>羽毛球拍</li>
								<li>羽毛球配件</li>
								<li>乒乓球装备</li>
								<li>球类</li>
							</ul>
							<span style="margin-top: 22px;"></span>
						</div>
					</div>
				</li>
				<li>
					<a href="">男子<span class="xj"></span></a>
					<div class="nav-contentbox">
						<div class="nav-content2">
							<ul>
								<span></span>
								<li>男鞋</li>
								<li>跑步鞋</li>
								<li>篮球鞋</li>
								<li>运动时尚鞋</li>
								<li>训练鞋</li>
								<li>羽毛球鞋</li>
								<li>户外鞋</li>
								<li>凉鞋/拖鞋</li>
							</ul>
							<ul>
								<span></span>
								<li>女鞋</li>
								<li>跑步鞋</li>
								<li>篮球鞋</li>
								<li>运动时尚鞋</li>
								<li>训练鞋</li>
								<li>羽毛球鞋</li>
								<li>户外鞋</li>
								<li>凉鞋/拖鞋</li>
							</ul>
							<ul>
								<span></span>
								<li>男装</li>
								<li>T恤/Polo衫/背心</li>
								<li>卫衣</li>
								<li>外套/马甲</li>
								<li>羽绒服</li>
								<li>棉服</li>
								<li>比赛服</li>
								<li>紧身服</li>
								<li>裤装</li>
								<li>运动内裤</li>
								<li>泳裤</li>
								<li>其他服装</li>
							</ul>
							<ul>
								<span></span>
								<li>女装</li>
								<li>T恤/Polo衫/背心</li>
								<li>卫衣</li>
								<li>外套/马甲</li>
								<li>羽绒服</li>
								<li>棉服</li>
								<li>比赛服</li>
								<li>紧身服</li>
								<li>裤装</li>
								<li>运动内裤</li>
								<li>泳裤</li>
								<li>其他服装</li>
							</ul>
							<ul>
								<span></span>
								<li>配件/装备</li>
								<li>袜子</li>
								<li>包</li>
								<li>帽子</li>
								<li>羽毛球拍</li>
								<li>羽毛球配件</li>
								<li>乒乓球装备</li>
								<li>球类</li>
							</ul>
							
							<span style="margin-top: 22px;"></span>
						</div>
					</div>
				</li>
				
				<li>
					<a href="">女子<span class="xj"></span></a>
					<div class="nav-contentbox">
						<div class="nav-content3">
							<ul>
								<span></span>
								<li>男鞋</li>
								<li>跑步鞋</li>
								<li>篮球鞋</li>
								<li>运动时尚鞋</li>
								<li>训练鞋</li>
								<li>羽毛球鞋</li>
								<li>户外鞋</li>
								<li>凉鞋/拖鞋</li>
							</ul>
							<ul>
								<span></span>
								<li>女鞋</li>
								<li>跑步鞋</li>
								<li>篮球鞋</li>
								<li>运动时尚鞋</li>
								<li>训练鞋</li>
								<li>羽毛球鞋</li>
								<li>户外鞋</li>
								<li>凉鞋/拖鞋</li>
							</ul>
							<ul>
								<span></span>
								<li>男装</li>
								<li>T恤/Polo衫/背心</li>
								<li>卫衣</li>
								<li>外套/马甲</li>
								<li>羽绒服</li>
								<li>棉服</li>
								<li>比赛服</li>
								<li>紧身服</li>
								<li>裤装</li>
								<li>运动内裤</li>
								<li>泳裤</li>
								<li>其他服装</li>
							</ul>
							<ul>
								<span></span>
								<li>女装</li>
								<li>T恤/Polo衫/背心</li>
								<li>卫衣</li>
								<li>外套/马甲</li>
								<li>羽绒服</li>
								<li>棉服</li>
								<li>比赛服</li>
								<li>紧身服</li>
								<li>裤装</li>
								<li>运动内裤</li>
								<li>泳裤</li>
								<li>其他服装</li>
							</ul>
							<ul>
								<span></span>
								<li>配件/装备</li>
								<li>袜子</li>
								<li>包</li>
								<li>帽子</li>
								<li>羽毛球拍</li>
								<li>羽毛球配件</li>
								<li>乒乓球装备</li>
								<li>球类</li>
							</ul>
							
							<span style="margin-top: 22px;"></span>
						</div>
					</div>
				</li>
				
				<li>
					<a href="">男童<span class="xj"></span></a>
					<div class="nav-contentbox">
						<div class="nav-content4">
							<ul>
								<span></span>
								<li>男鞋</li>
								<li>跑步鞋</li>
								<li>篮球鞋</li>
								<li>运动时尚鞋</li>
								<li>训练鞋</li>
								<li>羽毛球鞋</li>
								<li>户外鞋</li>
								<li>凉鞋/拖鞋</li>
							</ul>
							<ul>
								<span></span>
								<li>女鞋</li>
								<li>跑步鞋</li>
								<li>篮球鞋</li>
								<li>运动时尚鞋</li>
								<li>训练鞋</li>
								<li>羽毛球鞋</li>
								<li>户外鞋</li>
								<li>凉鞋/拖鞋</li>
							</ul>
							<ul>
								<span></span>
								<li>男装</li>
								<li>T恤/Polo衫/背心</li>
								<li>卫衣</li>
								<li>外套/马甲</li>
								<li>羽绒服</li>
								<li>棉服</li>
								<li>比赛服</li>
								<li>紧身服</li>
								<li>裤装</li>
								<li>运动内裤</li>
								<li>泳裤</li>
								<li>其他服装</li>
							</ul>
							<ul>
								<span></span>
								<li>女装</li>
								<li>T恤/Polo衫/背心</li>
								<li>卫衣</li>
								<li>外套/马甲</li>
								<li>羽绒服</li>
								<li>棉服</li>
								<li>比赛服</li>
								<li>紧身服</li>
								<li>裤装</li>
								<li>运动内裤</li>
								<li>泳裤</li>
								<li>其他服装</li>
							</ul>
							<ul>
								<span></span>
								<li>配件/装备</li>
								<li>袜子</li>
								<li>包</li>
								<li>帽子</li>
								<li>羽毛球拍</li>
								<li>羽毛球配件</li>
								<li>乒乓球装备</li>
								<li>球类</li>
							</ul>
							
							<span style="margin-top: 22px;"></span>
						</div>
					</div>
				</li>
				
				<li>
					<a href="">女童<span class="xj"></span></a>
					<div class="nav-contentbox">
						<div class="nav-content5">
							<ul>
								<span></span>
								<li>男鞋</li>
								<li>跑步鞋</li>
								<li>篮球鞋</li>
								<li>运动时尚鞋</li>
								<li>训练鞋</li>
								<li>羽毛球鞋</li>
								<li>户外鞋</li>
								<li>凉鞋/拖鞋</li>
							</ul>
							<ul>
								<span></span>
								<li>女鞋</li>
								<li>跑步鞋</li>
								<li>篮球鞋</li>
								<li>运动时尚鞋</li>
								<li>训练鞋</li>
								<li>羽毛球鞋</li>
								<li>户外鞋</li>
								<li>凉鞋/拖鞋</li>
							</ul>
							<ul>
								<span></span>
								<li>男装</li>
								<li>T恤/Polo衫/背心</li>
								<li>卫衣</li>
								<li>外套/马甲</li>
								<li>羽绒服</li>
								<li>棉服</li>
								<li>比赛服</li>
								<li>紧身服</li>
								<li>裤装</li>
								<li>运动内裤</li>
								<li>泳裤</li>
								<li>其他服装</li>
							</ul>
							<ul>
								<span></span>
								<li>女装</li>
								<li>T恤/Polo衫/背心</li>
								<li>卫衣</li>
								<li>外套/马甲</li>
								<li>羽绒服</li>
								<li>棉服</li>
								<li>比赛服</li>
								<li>紧身服</li>
								<li>裤装</li>
								<li>运动内裤</li>
								<li>泳裤</li>
								<li>其他服装</li>
							</ul>
							<ul>
								<span></span>
								<li>配件/装备</li>
								<li>袜子</li>
								<li>包</li>
								<li>帽子</li>
								<li>羽毛球拍</li>
								<li>羽毛球配件</li>
								<li>乒乓球装备</li>
								<li>球类</li>
							</ul>
							
							<span style="margin-top: 22px;"></span>
						</div>
					</div>
				</li>
				
				<li>
					<a href="">系列<span class="xj"></span></a>
					<div class="nav-contentbox">
						<div class="nav-content6">
							<ul>
								<span></span>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/shoefit/6CEB6D3C465CD63FEC281CEBA58CF191.png"/><p>篮球</p></li>
								<span></span>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/shoefit/1A445794BE155ED72ECCAA7503B0441E.png"/><p>篮球</p></li>
								<span></span>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/shoefit/D10A522F83061B505F68A31B8F631F47.png"/><p>篮球</p></li>
								<span></span>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/shoefit/43C955D3B71630E70DA9B76ECF4617B8.png"/><p>篮球</p></li>
								<span></span>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/shoefit/5846D07192F71FBADD5311F16C4BB81C.png"/><p>篮球</p></li>
								<span></span>
							</ul>
							
						</div>
					</div>
				</li>
				
				<li>
					<a href="">韦德<span class="xj"></span></a>
					<div class="nav-contentbox">
						<div class="nav-content7">
							<ul>
								<span></span>
								<li>男鞋</li>
								<li>跑步鞋</li>
								<li>篮球鞋</li>
								<li>运动时尚鞋</li>
								<li>训练鞋</li>
								<li>羽毛球鞋</li>
								<li>户外鞋</li>
								<li>凉鞋/拖鞋</li>
							</ul>
							<ul>
								<span></span>
								<li>女鞋</li>
								<li>跑步鞋</li>
								<li>篮球鞋</li>
								<li>运动时尚鞋</li>
								<li>训练鞋</li>
								<li>羽毛球鞋</li>
								<li>户外鞋</li>
								<li>凉鞋/拖鞋</li>
							</ul>
							<ul>
								<span></span>
								<li>男装</li>
								<li>T恤/Polo衫/背心</li>
								<li>卫衣</li>
								<li>外套/马甲</li>
								<li>羽绒服</li>
								<li>棉服</li>
								<li>比赛服</li>
								<li>紧身服</li>
								<li>裤装</li>
								<li>运动内裤</li>
								<li>泳裤</li>
								<li>其他服装</li>
							</ul>
							<ul>
								<span></span>
								<li>女装</li>
								<li>T恤/Polo衫/背心</li>
								<li>卫衣</li>
								<li>外套/马甲</li>
								<li>羽绒服</li>
								<li>棉服</li>
								<li>比赛服</li>
								<li>紧身服</li>
								<li>裤装</li>
								<li>运动内裤</li>
								<li>泳裤</li>
								<li>其他服装</li>
							</ul>
							<ul>
								<span></span>
							</ul>
						</div>
					</div>
				</li>
				
				<li>
					<a href="">新品<span class="xj"></span></a>
				</li>
				
				<li>
					<a href="">更多品牌<span class="xj"></span></a>
					<div class="nav-contentbox">
						<div class="nav-content9">
							<ul>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/brand/1D5FE65ACA2C6529D1BF80E05E2F47E1.png"/></li>
								<span></span>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/brand/1D5FE65ACA2C6529D1BF80E05E2F47E1.png"/></li>
								<span></span>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/brand/1D5FE65ACA2C6529D1BF80E05E2F47E1.png"/></li>
								<span></span>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/brand/1D5FE65ACA2C6529D1BF80E05E2F47E1.png"/></li>
								<span></span>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/brand/1D5FE65ACA2C6529D1BF80E05E2F47E1.png"/></li>
								<span></span>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/brand/1D5FE65ACA2C6529D1BF80E05E2F47E1.png"/></li>
								<span></span>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/brand/1D5FE65ACA2C6529D1BF80E05E2F47E1.png"/></li>
								<span></span>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/brand/1D5FE65ACA2C6529D1BF80E05E2F47E1.png"/></li>
								<span></span>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/brand/1D5FE65ACA2C6529D1BF80E05E2F47E1.png"/></li>
								<span></span>
							</ul>
							
						</div>
							<span style="margin-top: 22px;"></span>
					</div>
				</li>
			</ul>
			<div class="nav-r">
				<a href="#">
					<em></em>
				</a>
				<div class="search_input">
					<input style="width: 140px;" type="text" name="txt" id="txt" value="时装周">
					<input type="button" name="btn" id="btn" value="搜索">
				</div>
			</div>
		</div>
		<div class="bg">
			<img src="../static/img/banner11.png"/>
		</div>
		
		
		<form id="form2">
			<div class="login">用户登录
				
			<img class="close" src="../static/img/close.png" style="cursor: pointer;"></div>
			<div class="login-box">
				<span>用户名：</span><input type="text" name="user" id="user2" value="" required=true style="margin-right: 10px;" /><a href="register.html" style="font-size: 14px ;color: #999999";>注册新用户</a><br />
				<span>密码：</span><input type="password" name="pass" id="pass3" value="" required=true rangelength=[5,10] /><img class="eye1" src="../static/img/eye.png"/><br />
				<input type="button" name="btn" id="btn2" value="登录" />
			</div>
		</form>
	</body>
	<script src="../scripts/libs/require.js" data-main = "login.js"></script>

</html>
