<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../style/particulars.css" />
		<link rel="stylesheet" type="text/css" href="../style/public.css" />
	</head>

	<body>
		<div id="head">
			<div class="head-l">
				<span class="logochar"></span>
				<a href="login.html">登录</a>
				<span>|</span>
				<a href="register.html">注册</a>
				<span>|</span>
				<span class="shopcar"></span>
				<span class="shopcar-index">(0)</span>
			</div>
			<div class="head-r">
				<span>消息</span>
				<span>|</span>
				<span>我的李宁</span>
				<span>|</span>
				<span>会员俱乐部</span>
			</div>
		</div>
		<div id="nav">
			<ul class="nav-l">
				<li class="ln">
					<div class="logo">
					</div>
				</li>
				<li>
					<a href="">所有分类<span class="xj"></span></a>
					<div class="nav-contentbox">
						<div class="nav-content1">
							<ul>
								<span></span>
								<li>男鞋</li>
								<li>跑步鞋</li>
								<li>篮球鞋</li>
								<li>运动时尚鞋</li>
								<li>训练鞋</li>
								<li>羽毛球鞋</li>
								<li>户外鞋</li>
								<li>凉鞋/拖鞋</li>
							</ul>
							<ul>
								<span></span>
								<li>女鞋</li>
								<li>跑步鞋</li>
								<li>篮球鞋</li>
								<li>运动时尚鞋</li>
								<li>训练鞋</li>
								<li>羽毛球鞋</li>
								<li>户外鞋</li>
								<li>凉鞋/拖鞋</li>
							</ul>
							<ul>
								<span></span>
								<li>男装</li>
								<li>T恤/Polo衫/背心</li>
								<li>卫衣</li>
								<li>外套/马甲</li>
								<li>羽绒服</li>
								<li>棉服</li>
								<li>比赛服</li>
								<li>紧身服</li>
								<li>裤装</li>
								<li>运动内裤</li>
								<li>泳裤</li>
								<li>其他服装</li>
							</ul>
							<ul>
								<span></span>
								<li>女装</li>
								<li>T恤/Polo衫/背心</li>
								<li>卫衣</li>
								<li>外套/马甲</li>
								<li>羽绒服</li>
								<li>棉服</li>
								<li>比赛服</li>
								<li>紧身服</li>
								<li>裤装</li>
								<li>运动内裤</li>
								<li>泳裤</li>
								<li>其他服装</li>
							</ul>
							<ul>
								<span></span>
								<li>配件/装备</li>
								<li>袜子</li>
								<li>包</li>
								<li>帽子</li>
								<li>羽毛球拍</li>
								<li>羽毛球配件</li>
								<li>乒乓球装备</li>
								<li>球类</li>
							</ul>
							<ul>
								<span></span>
								<li>器材</li>
								<li>羽毛球拍</li>
								<li>羽毛球配件</li>
								<li>乒乓球装备</li>
								<li>球类</li>
							</ul>
							<span style="margin-top: 22px;"></span>
						</div>
					</div>
				</li>
				<li>
					<a href="">男子<span class="xj"></span></a>
					<div class="nav-contentbox">
						<div class="nav-content2">
							<ul>
								<span></span>
								<li>男鞋</li>
								<li>跑步鞋</li>
								<li>篮球鞋</li>
								<li>运动时尚鞋</li>
								<li>训练鞋</li>
								<li>羽毛球鞋</li>
								<li>户外鞋</li>
								<li>凉鞋/拖鞋</li>
							</ul>
							<ul>
								<span></span>
								<li>女鞋</li>
								<li>跑步鞋</li>
								<li>篮球鞋</li>
								<li>运动时尚鞋</li>
								<li>训练鞋</li>
								<li>羽毛球鞋</li>
								<li>户外鞋</li>
								<li>凉鞋/拖鞋</li>
							</ul>
							<ul>
								<span></span>
								<li>男装</li>
								<li>T恤/Polo衫/背心</li>
								<li>卫衣</li>
								<li>外套/马甲</li>
								<li>羽绒服</li>
								<li>棉服</li>
								<li>比赛服</li>
								<li>紧身服</li>
								<li>裤装</li>
								<li>运动内裤</li>
								<li>泳裤</li>
								<li>其他服装</li>
							</ul>
							<ul>
								<span></span>
								<li>女装</li>
								<li>T恤/Polo衫/背心</li>
								<li>卫衣</li>
								<li>外套/马甲</li>
								<li>羽绒服</li>
								<li>棉服</li>
								<li>比赛服</li>
								<li>紧身服</li>
								<li>裤装</li>
								<li>运动内裤</li>
								<li>泳裤</li>
								<li>其他服装</li>
							</ul>
							<ul>
								<span></span>
								<li>配件/装备</li>
								<li>袜子</li>
								<li>包</li>
								<li>帽子</li>
								<li>羽毛球拍</li>
								<li>羽毛球配件</li>
								<li>乒乓球装备</li>
								<li>球类</li>
							</ul>
							
							<span style="margin-top: 22px;"></span>
						</div>
					</div>
				</li>
				
				<li>
					<a href="">女子<span class="xj"></span></a>
					<div class="nav-contentbox">
						<div class="nav-content3">
							<ul>
								<span></span>
								<li>男鞋</li>
								<li>跑步鞋</li>
								<li>篮球鞋</li>
								<li>运动时尚鞋</li>
								<li>训练鞋</li>
								<li>羽毛球鞋</li>
								<li>户外鞋</li>
								<li>凉鞋/拖鞋</li>
							</ul>
							<ul>
								<span></span>
								<li>女鞋</li>
								<li>跑步鞋</li>
								<li>篮球鞋</li>
								<li>运动时尚鞋</li>
								<li>训练鞋</li>
								<li>羽毛球鞋</li>
								<li>户外鞋</li>
								<li>凉鞋/拖鞋</li>
							</ul>
							<ul>
								<span></span>
								<li>男装</li>
								<li>T恤/Polo衫/背心</li>
								<li>卫衣</li>
								<li>外套/马甲</li>
								<li>羽绒服</li>
								<li>棉服</li>
								<li>比赛服</li>
								<li>紧身服</li>
								<li>裤装</li>
								<li>运动内裤</li>
								<li>泳裤</li>
								<li>其他服装</li>
							</ul>
							<ul>
								<span></span>
								<li>女装</li>
								<li>T恤/Polo衫/背心</li>
								<li>卫衣</li>
								<li>外套/马甲</li>
								<li>羽绒服</li>
								<li>棉服</li>
								<li>比赛服</li>
								<li>紧身服</li>
								<li>裤装</li>
								<li>运动内裤</li>
								<li>泳裤</li>
								<li>其他服装</li>
							</ul>
							<ul>
								<span></span>
								<li>配件/装备</li>
								<li>袜子</li>
								<li>包</li>
								<li>帽子</li>
								<li>羽毛球拍</li>
								<li>羽毛球配件</li>
								<li>乒乓球装备</li>
								<li>球类</li>
							</ul>
							
							<span style="margin-top: 22px;"></span>
						</div>
					</div>
				</li>
				
				<li>
					<a href="">男童<span class="xj"></span></a>
					<div class="nav-contentbox">
						<div class="nav-content4">
							<ul>
								<span></span>
								<li>男鞋</li>
								<li>跑步鞋</li>
								<li>篮球鞋</li>
								<li>运动时尚鞋</li>
								<li>训练鞋</li>
								<li>羽毛球鞋</li>
								<li>户外鞋</li>
								<li>凉鞋/拖鞋</li>
							</ul>
							<ul>
								<span></span>
								<li>女鞋</li>
								<li>跑步鞋</li>
								<li>篮球鞋</li>
								<li>运动时尚鞋</li>
								<li>训练鞋</li>
								<li>羽毛球鞋</li>
								<li>户外鞋</li>
								<li>凉鞋/拖鞋</li>
							</ul>
							<ul>
								<span></span>
								<li>男装</li>
								<li>T恤/Polo衫/背心</li>
								<li>卫衣</li>
								<li>外套/马甲</li>
								<li>羽绒服</li>
								<li>棉服</li>
								<li>比赛服</li>
								<li>紧身服</li>
								<li>裤装</li>
								<li>运动内裤</li>
								<li>泳裤</li>
								<li>其他服装</li>
							</ul>
							<ul>
								<span></span>
								<li>女装</li>
								<li>T恤/Polo衫/背心</li>
								<li>卫衣</li>
								<li>外套/马甲</li>
								<li>羽绒服</li>
								<li>棉服</li>
								<li>比赛服</li>
								<li>紧身服</li>
								<li>裤装</li>
								<li>运动内裤</li>
								<li>泳裤</li>
								<li>其他服装</li>
							</ul>
							<ul>
								<span></span>
								<li>配件/装备</li>
								<li>袜子</li>
								<li>包</li>
								<li>帽子</li>
								<li>羽毛球拍</li>
								<li>羽毛球配件</li>
								<li>乒乓球装备</li>
								<li>球类</li>
							</ul>
							
							<span style="margin-top: 22px;"></span>
						</div>
					</div>
				</li>
				
				<li>
					<a href="">女童<span class="xj"></span></a>
					<div class="nav-contentbox">
						<div class="nav-content5">
							<ul>
								<span></span>
								<li>男鞋</li>
								<li>跑步鞋</li>
								<li>篮球鞋</li>
								<li>运动时尚鞋</li>
								<li>训练鞋</li>
								<li>羽毛球鞋</li>
								<li>户外鞋</li>
								<li>凉鞋/拖鞋</li>
							</ul>
							<ul>
								<span></span>
								<li>女鞋</li>
								<li>跑步鞋</li>
								<li>篮球鞋</li>
								<li>运动时尚鞋</li>
								<li>训练鞋</li>
								<li>羽毛球鞋</li>
								<li>户外鞋</li>
								<li>凉鞋/拖鞋</li>
							</ul>
							<ul>
								<span></span>
								<li>男装</li>
								<li>T恤/Polo衫/背心</li>
								<li>卫衣</li>
								<li>外套/马甲</li>
								<li>羽绒服</li>
								<li>棉服</li>
								<li>比赛服</li>
								<li>紧身服</li>
								<li>裤装</li>
								<li>运动内裤</li>
								<li>泳裤</li>
								<li>其他服装</li>
							</ul>
							<ul>
								<span></span>
								<li>女装</li>
								<li>T恤/Polo衫/背心</li>
								<li>卫衣</li>
								<li>外套/马甲</li>
								<li>羽绒服</li>
								<li>棉服</li>
								<li>比赛服</li>
								<li>紧身服</li>
								<li>裤装</li>
								<li>运动内裤</li>
								<li>泳裤</li>
								<li>其他服装</li>
							</ul>
							<ul>
								<span></span>
								<li>配件/装备</li>
								<li>袜子</li>
								<li>包</li>
								<li>帽子</li>
								<li>羽毛球拍</li>
								<li>羽毛球配件</li>
								<li>乒乓球装备</li>
								<li>球类</li>
							</ul>
							
							<span style="margin-top: 22px;"></span>
						</div>
					</div>
				</li>
				
				<li>
					<a href="">系列<span class="xj"></span></a>
					<div class="nav-contentbox">
						<div class="nav-content6">
							<ul>
								<span></span>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/shoefit/6CEB6D3C465CD63FEC281CEBA58CF191.png"/><p>篮球</p></li>
								<span></span>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/shoefit/1A445794BE155ED72ECCAA7503B0441E.png"/><p>篮球</p></li>
								<span></span>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/shoefit/D10A522F83061B505F68A31B8F631F47.png"/><p>篮球</p></li>
								<span></span>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/shoefit/43C955D3B71630E70DA9B76ECF4617B8.png"/><p>篮球</p></li>
								<span></span>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/shoefit/5846D07192F71FBADD5311F16C4BB81C.png"/><p>篮球</p></li>
								<span></span>
							</ul>
							
						</div>
					</div>
				</li>
				
				<li>
					<a href="">韦德<span class="xj"></span></a>
					<div class="nav-contentbox">
						<div class="nav-content7">
							<ul>
								<span></span>
								<li>男鞋</li>
								<li>跑步鞋</li>
								<li>篮球鞋</li>
								<li>运动时尚鞋</li>
								<li>训练鞋</li>
								<li>羽毛球鞋</li>
								<li>户外鞋</li>
								<li>凉鞋/拖鞋</li>
							</ul>
							<ul>
								<span></span>
								<li>女鞋</li>
								<li>跑步鞋</li>
								<li>篮球鞋</li>
								<li>运动时尚鞋</li>
								<li>训练鞋</li>
								<li>羽毛球鞋</li>
								<li>户外鞋</li>
								<li>凉鞋/拖鞋</li>
							</ul>
							<ul>
								<span></span>
								<li>男装</li>
								<li>T恤/Polo衫/背心</li>
								<li>卫衣</li>
								<li>外套/马甲</li>
								<li>羽绒服</li>
								<li>棉服</li>
								<li>比赛服</li>
								<li>紧身服</li>
								<li>裤装</li>
								<li>运动内裤</li>
								<li>泳裤</li>
								<li>其他服装</li>
							</ul>
							<ul>
								<span></span>
								<li>女装</li>
								<li>T恤/Polo衫/背心</li>
								<li>卫衣</li>
								<li>外套/马甲</li>
								<li>羽绒服</li>
								<li>棉服</li>
								<li>比赛服</li>
								<li>紧身服</li>
								<li>裤装</li>
								<li>运动内裤</li>
								<li>泳裤</li>
								<li>其他服装</li>
							</ul>
							<ul>
								<span></span>
							</ul>
						</div>
					</div>
				</li>
				
				<li>
					<a href="">新品<span class="xj"></span></a>
				</li>
				
				<li>
					<a href="">更多品牌<span class="xj"></span></a>
					<div class="nav-contentbox">
						<div class="nav-content9">
							<ul>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/brand/1D5FE65ACA2C6529D1BF80E05E2F47E1.png"/></li>
								<span></span>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/brand/1D5FE65ACA2C6529D1BF80E05E2F47E1.png"/></li>
								<span></span>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/brand/1D5FE65ACA2C6529D1BF80E05E2F47E1.png"/></li>
								<span></span>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/brand/1D5FE65ACA2C6529D1BF80E05E2F47E1.png"/></li>
								<span></span>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/brand/1D5FE65ACA2C6529D1BF80E05E2F47E1.png"/></li>
								<span></span>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/brand/1D5FE65ACA2C6529D1BF80E05E2F47E1.png"/></li>
								<span></span>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/brand/1D5FE65ACA2C6529D1BF80E05E2F47E1.png"/></li>
								<span></span>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/brand/1D5FE65ACA2C6529D1BF80E05E2F47E1.png"/></li>
								<span></span>
								<li><img src="https://cdns.lining.com/postsystem/docroot/images/brand/1D5FE65ACA2C6529D1BF80E05E2F47E1.png"/></li>
								<span></span>
							</ul>
							
						</div>
							<span style="margin-top: 22px;"></span>
					</div>
				</li>
			</ul>
		<div class="nav-r">
				<a href="#">
					<em></em>
				</a>
				<div class="search_input">
					<input style="width: 140px;" type="text" name="txt" id="txt" value="时装周">
					<input type="button" name="btn" id="btn" value="搜索">
				</div>
			</div>
		</div>
		<div id="nav-right">
			<ul class="nav-content-right">
				<div class="nav-logo">
					<img src="../static/img/banner-logo.png" />
				</div>
				<li style="background: #000;">
					<img style="display: block;" src="../static/img/banner-showbar.png" />
				</li>
				<li>
					<img src="../static/img/banner-lining.png" />
					<p>我的<br>李宁</p>
				</li>
				<li class="buycar">
					<img src="../static/img/gouwuche.png" style="width: 27px;height: 24px;">
					<p style="left: 0;">购物车</p>
				</li>
				<li>
					<img src="../static/img/banner-money.png" />
					<p>我的<br>资产</p>
				</li>
				<li>
					<img src="../static/img/banner-collect.png" />
					<p>我的<br>收藏</p>
				</li>
				<li>
					<img src="../static/img/banner-view.png" />
					<p>最近<br>浏览</p>
				</li>
				<li>
					<img src="../static/img/banner-service.png" />
					<p>客服</p>
				</li>
				<li>
					<p style="left: 0;display: block;">扫描<br>二维码</p>
				</li>
			</ul>

		</div>
		<div id="product">
			<div class="product-top">
				<div class="imgbox">
					<div class="imgbox-t">
						
					</div>
					<div class="imgbox-b">
							
					</div>
				</div>
				<div class="bigCursor">
					
				</div>
				<div class="xuxian"></div>
				<div class="guige">
					
				</div>
				<ul class="likemore">
					<li>
						<img src="../static/img/a_you_like.jpg"/>
						<div class="likemore-goods">
							<img src="../static/img/thumb_409907.jpg"/>
						</div>
						<p class="likemore-price">249.00</p>
					</li>
					<li>
						
						<div class="likemore-goods">
							<img src="../static/img/thumb_409907.jpg"/>
						</div>
						<p class="likemore-price">249.00</p>
					</li>
					<li>
						
						<div class="likemore-goods">
							<img src="../static/img/thumb_409907.jpg"/>
						</div>
						<p class="likemore-price">249.00</p>
					</li>
					<li>
						<div class="direction">
							<img class="direction-bottom" src="../static/img/a_left.png"/>
							<img class="direction-top" src="../static/img/a_right.jpg"/>
						</div>
						<div class="zixun">
							<img src="../static/img/consult.gif"/>
							<span>在线咨询</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="tck">
				<span class="num"></span>
				<span class="piece">件商品加入购物车</span>
				<img class="close" src="../static/img/close.png"/>
				<div class="tck-content">
					<div class="content-l">
						<img src="../static/img/tck-img.jpg"/>
					</div>
					<div class="content-r">
						<p class="title">李宁云2017防护版男子反光防泼水减震跑鞋ARHM093-3</p>
						<p class="add">
							<span>加入数量：</span>
							<span class="add-num"></span>
						</p>
						<p class="total">
							<span>总计金额：</span>
							<span class="total-money">¥299.00</span>
						</p>
						<input type="button" id="btn1" value="继续购物" />
						<input type="button" id="btn2" value="去结算" />
						
					</div>
				</div>
			</div>
		</div>
		<div id="product-bottom">
				<ul>
					<li>
						<p class="goods-describe active">商品描述</p>
	
					</li>
					<li>
						<p class="goods-comment">商品评论</p>
						
					</li>
					<li>
						<p class="goods-notice">购物须知</p>
						
					</li>
				</ul>
				<ol>
					<li><img src="../static/img/shangping-content.png" /></li>
					<li style="margin-top: -1px;"><img src="../static/img/shangping-pinglun.png" /></li>
					<li><img src="../static/img/shangping-content.png" /></li>
				</ol>
		</div>
		
	</body>
	<script src="../scripts/libs/require.js" data-main="particulars.js"></script>

</html>